.tab-tour {
	margin-bottom: 50px;

	ul.nav-tabs {
		margin-left: 0;
		padding-left: 0;

		.nav-item {
			&:last-of-type {
				.nav-link {
					border-right: 1px solid rgba(55,58,60,.125);
				}
			}

			.nav-link {
				border-radius: 0;
				border-color: rgba(55,58,60,.125) rgba(55,58,60,.125) transparent;
				border-right: 0 none;
				font-weight: 600;
				color: #495057;
				background-color: rgba(55,58,60,.03);
				transition: all 0.5s ease;

				&.active, &:hover, &:active, &:focus, &:focus-within {
					border-bottom: 2px solid $purple;
					background-color: #eee;
					transition: all 0.5s ease;
				}
			}
		}
	}

	&.alt-tab {
		ul.nav-tabs {
			border-bottom: 0 none;

			.nav-item {
				display: flex;

				&:after {
					content: '';
					display: block;
					height: 1.3rem;
					width: 1px;
					border-right: 1px solid rgba(55,58,60,.125);
					transform: rotate(15deg);
				}

				.nav-link {
					padding: 0;
					margin-left: 1rem;
					margin-right: 1rem;
					border: 0 none;
					border-bottom: 2px solid transparent;
					background-color: transparent;

					&.active, &:hover, &:active, &:focus, &:focus-within {
						border: 0 none;
						border-bottom: 2px solid $purple;
					}
				}
			}
		}

		.tab-content { border: 0 none; }
	}

	.tab-content {
		padding: 1rem;
		border-right: 1px solid rgba(55,58,60,.125);
		border-bottom: 1px solid rgba(55,58,60,.125);
		border-left: 1px solid rgba(55,58,60,.125);

		h1, h2, h3, h4, h5, h6 { margin-top: 0; }

		.tab-pane { transition: all 0.5s ease-out; }
	}

	&.vertical-tour {
		.row {
			margin-left: 0;
			margin-right: 0;

			.col-3 {
				margin-right: 0;
				padding: 0;
			}

			.col-9 {
				border: 1px solid rgba(55,58,60,.125);
			}
		}
		ul.nav {
			padding-left: 0;
			margin-left: 0;

			.nav-link {
				border-radius: 0;
				border: 1px solid;
				border-color: rgba(55,58,60,.125) transparent transparent rgba(55,58,60,.125);
				border-bottom: 0;
				font-weight: 600;
				color: #495057;
				background-color: rgba(55,58,60,.03);
				transition: all 0.5s ease;

				&.active, &:hover, &:active, &:focus, &:focus-within {
					border-left: 2px solid $purple;
					background-color: #eee;
					transition: all 0.5s ease;
				}
			}

			.nav-item:last-child {
				border-bottom: 1px solid rgba(55,58,60,.125);
			}
		}

		.tab-content { border: 0 none; }
	}
}
