header.site-header {
	height: 90px;
	width: 100%;
	background: $purple;
	position: relative;
	z-index: 2;
	padding-bottom: 0;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);

	@media (min-width: 767px) and (max-width: 991px) {
		height: 100px;
	}

	@media (max-width: 768px) {
		padding: 0;
		height: 45px;
	}

	nav.navbar {
		padding: 0;
		justify-content: space-between;

		@media (min-width: 768px) and (max-width: 991px) {
			height: 100%;
		}

		.site-branding {
			position: relative;
			padding: 0;
			display: flex;
			flex-flow: row;
			align-items: center;
			margin-right: 0;
			margin-left: 10vw;

			@media (min-width: 992px) and (max-width: 1105px) {

			}

			@media (min-width: 992px) and (max-width: 1214px) {
				align-self: flex-start;
				margin-left: 1vw;
				margin-right: -60px;
			}

			@media (min-width: 768px) and (max-width: 991px) {
				align-self: flex-start;
				margin-left: 0;
			}

			@media (max-width: 768px) {
				margin-left: 0;
			}

			.uw-patch {
				text-indent: -9999px;
				width: 130px;
				height: 90px;
				background: url(../assets/svg/uw-sprite.svg) no-repeat 0 0 transparent;
				z-index: 1;

				&:focus,
				&:hover{
					background: url(../assets/svg/uw-sprite-focus.svg) no-repeat 0 0 transparent;
				}
				&:before {
				//to preload and cache hover svg
					content: url(../assets/svg/uw-sprite-focus.svg);
					display: none;
				}

				@media (max-width: 768px) {
					width: 73px;
					height: 45px;
					top: 0;
					left: 0;
					background-size: 470px;
					transition: all 0s;
					margin-left: 5px;

					&:hover,
					&:focus {
						background-size: 470px;
					}
				}
			}

			.uw-wordmark {
				text-indent: -9999px;
				width: 330px;
				height: 24px;
				position: relative;
				left: -30px;
				background: url(../assets/svg/uw-sprite.svg) no-repeat 0 -431px transparent;
				transform: scale(0.8, 0.8);

				@media (min-width: 992px) and (max-width: 1105px) {
					left: -40px;
				}

				@media (min-width: 776px) and (max-width: 991px) {
					left: 0;
					transform: scale(1, 1);
				}

				@media (min-width: 769px) and (max-width: 851px) {
					margin-right: -50px;

				}

				@media (min-width: 376px) and (max-width: 460px) {
					transform: scale(0.6, 0.6);
					left: -70px;
				}

				@media (min-width: 320px) and (max-width: 375px) {
					transform: scale(0.5, 0.5);
					left: -85px;
				}
			}
		}

		#site-navigation {
			display: flex;

			@media (min-width: 768px) and (max-width: 991px) {
				flex-flow: column;
				align-self: flex-start;
			    margin-top: 20px;
			}

			.audience-menu-container {
				@media (min-width: 992px) and (max-width: 1044px) {
					flex-basis: auto;
					margin-left: -40px;
				}

				@media (min-width: 769px) and (max-width: 801px) {
					margin-left: -50px;
				}

				@media (min-width: 768px) and (max-width: 991px) {
					order: 2;
					margin-top: 15px;
				}

				@media (max-width: 768px) {
					display: none !important;
				}

				ul {
					list-style: none;
					margin-bottom: 0;

					li {
						&:last-child a:after {
							display: none;
						}

						a, a:visited {
							color: white;
							font-family: $headings;
							font-size: 16px;
							font-weight: $medium;
							position: relative;
							padding: 10px 25px 10px 0;
							letter-spacing: .01em;
							text-decoration: none;

							&:after {
								position: absolute;
								right: 6px;
								height:32px;
								width: 12px;
								top: 5px;
								content: "";
								background: url(../assets/svg/uw-sprite.svg) no-repeat -696px 0;
							}
							&:hover,
							&:focus {
								color: $gold;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		#search-quicklinks {
			display: flex;
			flex-wrap: nowrap;

			@media (min-width: 768px) and (max-width: 991px) {
				align-self: flex-end;
			}

			button {
				border: none;
				display: inline-block;
				vertical-align: top;
				font-family: $headings;
				font-size: 17px;
				font-weight: $medium;
				position: relative;
				z-index: 1;

				&.uw-search {
					text-indent: -99999px;
					padding-right: 78px;
					border: 2px solid white;
					background-color: transparent;
					border-radius: 100%;
					width: 45px;
					padding: 0;
					height: 45px;
					margin: 0 15px;
					overflow: hidden;

					@media (min-width: 992px) and (max-width: 1044px) {
						margin: 0 5px 0 0;
					}

					@media (max-width: 768px) {
						top: 0;
						right: 36px;
						height: 45px;
						width: 47px;
						margin-right: 0;
						border: none;
						overflow: hidden;
						position: absolute;

						&:hover {
							background-color: transparent !important;
							border: none !important;
						}

						svg {
							top: 14px;
							left: 14px;
						}
					}

					&:hover, &:focus {
						border: 2px solid $gold;
						background-color: darken($purple, 5%);
						transition: all .1s linear;
					}
					&:after {
						display: none;
					}
					svg {
						position: absolute;
						top: 12px;
						left: 11px;
					}
				}
				&.uw-quicklinks {
					div {
						position: absolute;
						top: -22px;
						right: 0px;
						width: 160px;
						height: 68px;
						margin: 0px;
					}

					height: 45px;
					padding-left: 38px;
					margin-left: -15px;
					margin-right: 0;
					white-space: nowrap;
					padding-right: 54px;
					color: $black;
					background: url(../assets/svg/uw-sprite.svg) no-repeat -451px -235px;
					overflow: hidden;

					@media (max-width: 768px) {
						background-position: -484px -247px;
						background-size: 900px;
						text-indent: -99999px;
						overflow: hidden;
						padding: 20px 9px 0 0;
						width: 50px;
						top: 0;
						right: 0;
						position: absolute;

						&:after {
							background-position: -253px 4px;
							background-size: 780px;
							top: 11px;
							right: 9px;
						}
					}

					&:hover,
					&:focus {
						color: #FFF;
						text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.54);
						text-decoration: underline;
						outline: none;
						transition: all 0.2s ease;

						svg {
							right: 15px;
						}
					}

					&:after {
						display: none;
					}

					svg {
						position: absolute;
						right: 11px;
						top: 16px;
						transition: right 0.2s ease;
					}
				}
			}
		}
	}
}

// UW Hero

.uw-hero-image {
	height: 170px;
	display: flex;
	flex-flow: row;
	align-items: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	background-image: url(../assets/headers/new-burke.png);

	&:before {
		position:absolute;
		bottom: 0;
		left: 0;
		height: 80px;
		width: 100%;
		content: "";
		opacity: .4;
	}

	a, a:visited, a:hover, a:active, a:focus { text-decoration: none; }

	.uw-site-title {
		color: white;
		text-transform: uppercase;
		line-height: 1;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
		@extend h1.display-2;

		@media (max-width: 767px) {
			font-size: 40px;
		}
	}

	.udub-slant-divider span {
		height: 0.6rem;
		width: 12rem;
	}
}

// TBD - this section only

// Active state of search button

.search-open .uw-thinstrip button.uw-search {
	svg {
		top: -20px;
		left: 10px;
	}
}
.open .uw-thinstrip ul.uw-thin-links li.uw-quicklinks button {
	&:hover svg,
	&:focus svg {
		right: 11px;
	}
	svg {
		top: -37px;
	}
}

#uw-container {
	&.open .uw-quicklinks a {
		color: black;

		&:after {
			top: 11px;
			right: 10px;
			transform:rotate(180deg);
		}
	}
}
@media (max-width : 767px) {
	#uw-container {
		&.open .uw-quicklinks button {
			color: black;
			background-position: -492px -317px;

			&:after {
				background-position: -294px -52px;
				background-size: 880px;
			}
		}
	}
}
