// UW colors
$purple: 						#4b2e83; //@purple
$gold: 							#b7a57a; //@lightgold
$lightgold:						#e8e3d3; //@ultralightgold
$darkgold: 						#85754d; //@darkgold
$black:							#373a3c;
$links:							#1a62c7;
$gray-light:					#bdc3c7;
$gray:  						#c9c9c9; //@gray
$darkgray:						#5A5A5A; //@darkgray

// utility color set
$lightblue:						#dcedf6;
$lightgreen:					#e2eed8;
$lightyellow:					#fcf7e4;
$lightpink:						#efdfdf;

// font weights
$ultra:							900;
$bold:							800;
// $heavy:						700;
$medium:						600;
// $light:						400;
// $body:						300;

// font names, with old 2014 LESS variables for reference
$headingfont: 					'Encode Sans Normal'; //@headline
$headings:						'Encode Sans Compressed'; //@font-family-headline, @headings-font-family
$subheadfont: 					'Uni Sans'; //@uni
$bodyfont: 						'Open Sans'; //@font-family-base

$headings-line-height:			1.3;

// font file locations
$local-font-path:           	'../assets/fonts/';
$local-font-name-normal-black:  'EncodeSans-Normal-Black';
$local-font-name-thin:			'encodesanscompressed-100-thin-webfont';
$local-font-name-extralight:	'encodesanscompressed-200-extralight-webfont';
$local-font-name-light:			'encodesanscompressed-300-light-webfont.eot';
$local-font-name-regular:		'encodesanscondensed-400-regular-webfont';
$local-font-name-medium:		'encodesanscondensed-500-medium-webfont';
$local-font-name-semibold:		'encodesanscompressed-600-semibold-webfont';
$local-font-name-bold:			'encodesanscompressed-700-bold-webfont';
$local-font-name-extrabold:		'encodesanscompressed-800-extrabold-webfont';
$local-font-name-black: 		'encodesanscompressed-900-black-webfont';
$local-font-name-icon: 			'icomoon';
$uni-sans:      				'uni_sans_thin-webfont';
