.widget .udub-slant-divider {
	@include udub-slant-divider;
}

.widget-area .nav {
	margin-left: -20px;
	margin-right: -20px;
	padding: 20px;
	margin-top: -80px;
	margin-bottom: 60px;
	background: white;

	@media (max-width: 991px) {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		padding: 0;
	}

	.current_page_item, .current_page_parent {
		background: white;

		.nav-link {
			background: $purple;
			color: white;
			text-decoration: none;
			padding: 10px 10px 10px 20px;
			border-left: 10px solid $gold;
			font-weight: 600;
		}

		ul.children {
			margin-left: 0;
			padding-left: 0;
			list-style: none;

			.nav-item {
				.nav-link {
					border-left-color: #eee;
					color: #5a5a5a;
					background-color: #eee;
					margin-bottom: 1px;
					font-weight: normal;

					&:hover, &:active, &:focus {
						border-left-color: $gold;
						background-color: #ddd;
					}
				}

				&.active {
					.nav-link {
						font-weight: 600;
						border-left-color: $gold;
						background-color: #ddd;
					}
				}

				ul.children {
					.nav-item {
						.nav-link {
							background-color: white;
							color: #5a5a5a;
							border-left: 0 none;
							padding-left: 40px;
							&:before {
								content: '- ';
							}
						}
					}
				}
			}
		}
		&.current_page_ancestor {
			.nav-link {
				border-left-color: $purple;
				position: relative;
				border-right: 40px solid $gold;

				&:after {
					display: block;
					content: '';
					position: absolute;
					right: -26px;
					top: 20px;
					border: solid $purple;
					border-width: 0 3px 3px 0;
					padding: 5px;
					transition: all .5s ease;
					transform: rotate(-135deg);
					z-index: 100;
				}

				&:hover, &:active, &:focus{ color: $gold; }
			}

			ul.children .nav-item .nav-link:after {
				display: none;
			}

			ul.children .nav-item .nav-link {
				border-right: 0 none;
			}
		}
	}
}
